@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans';
    font-size: 12px;
}

.nav-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, ghostwhite, #E8D3A2);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.nav-logo {
    width: auto;
    height: 2.6rem;
}

.nav-link-wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-wrapper > li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    outline: none;
    bordeR: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #664238;
}

main {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #b7a3fd;
}

section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 1000px;
}

.left {
    height:130%;
    background: #E8D3A2;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.spacer
{
    height:130%;
}

.right {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%, -50%);
    background: lightblue;
    padding: 20 px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);

}

.skillBox{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillBox p{
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 10px 5px 0px;
    font-family: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2)
{
    float: right;
    position: relative;
    top: -25px;
}

.skill{
    background: #262626;
    margin: 0 0 10px;
    padding: 0px;;
    box-sizing: border-box;
    border: 1px solid #9c0094;
    border-radius: 2px;
}

.skill_level
{
    background: #0fffb7;
    width: 100%;
    height: 10px;
}

h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.title {
    background: none;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;;
    text-align: center;
}

.info {

}

table {
    width: 200px;
    border: 1 solid black;
}

th, tr, td {
    padding: 15px 20px;
    border: 1 solid black;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #363C74;
    height: 180px;
    width: 100%;
    clear: both;
    color: #E8D3A2;
}

.footer-img {
    width: 250px;
}

.info {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 350px;
}

.info * {
    font-size: 1.3rem;
    letter-spacing: 0.18rem;
}

hr {
    transform: rotate(90deg);
}

@media screen and (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px 0;
    }

    hr {
        transform: rotate(180deg);
        width: 75%;
        margin: 20px 0;
    }
}