@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans';
    font-size: 12px;
}

.nav-container {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, ghostwhite, #E8D3A2);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.nav-logo {
    width: auto;
    height: 2.6rem;
}

.nav-link-wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    outline: none;
    bordeR: none;
    font-size: 1.5rem;
    color: #2d003f;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 19px 10px;
}

.nav-link:hover {
    transition: all .3s ease;
    color: #691a04;
    background: #ffefc9;
}

main {
    width: 100%;
    height: 50%;
    padding: 20px 0;
    background: #b7a3fd;
}

section {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: minmax(450px, 700px) 1fr;
    height: 800px;
    background: #E8D3A2;
    transition: all .3s ease;
}

.left {
    padding-top: 4em;
    background: rgb(197, 223, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 40% 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    justify-self: center;
    float: right;
    width: 500px;
    background: lightblue;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    margin: 40px 0;
}

.right-container {
    width: 100%;
    padding: 10px 0;
}

.skillBox {
    width: 100%;
}

.skillBox p {
    color: rgb(3, 12, 43);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 15px;
    font-family: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -60px;
}

.skill {
    background: #262626;
    margin: 0 0 10px;
    padding: 0px;
    ;
    box-sizing: border-box;
    border: 1px solid #9c0094;
    border-radius: 2px;
}

.skill_level {
    background: #0fffb7;
    width: 100%;
    height: 10px;
}

h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title {
    background: none;
    margin: 20px 0;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    ;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #363C74;
    height: 180px;
    width: 100%;
    clear: both;
    color: #E8D3A2;
}

.footer-img {
    width: 250px;
}

.info {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 350px;
}

.info * {
    font-size: 1.3rem;
    letter-spacing: 0.18rem;
}

hr {
    transform: rotate(90deg);
    color: #E8D3A2;
    background-color: #E8D3A2;
    height: 2px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 1100px) {

    nav {
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-container {
        height: 100%;
    }

    .nav-link-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .nav-link {
        padding: 0;
    }

    .nav-logo {
        width: 300px;
        height: auto;
        padding: 15px 0;
    }

    form {
        width: 260px;
    }

    section {
        grid-template-columns: 100%;
    }

    .title {
        font-size: 2rem;
    }

    .section {
        height: 400px;
    }

    .left {
        padding-top: 0;
    }

    .right {
        width: 300px;
    }

    .info {
        margin: 0;
    }

    .info, .left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skillBox {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .skillBox p {
        color: rgb(3, 12, 43);
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 0px;
        font-family: bold;
        letter-spacing: 1px;
    }

    .skillBox p:nth-child(2) {
        float: right;
        position: relative;
        top: 0;
    }

    .skillBox p:first-child {
        float: right;
        position: relative;
        top: 35px;
    }

    hr {
        transform: rotate(180deg);
        width: 75%;
        margin: 20px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px 0;
    }
}