@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

html {
    --ss-color: ghostwhite;
    --ss-boxsize: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans';
    font-size: 12px;
}

.nav-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, ghostwhite, #E8D3A2);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.nav-logo {
    width: auto;
    height: 2.6rem;
}

.nav-link-wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-wrapper > li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    outline: none;
    bordeR: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #664238;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    margin: 15px auto;
}

input[type="text"] {
    outline: none;
    border: none;
    height: 30px;
    font-size: 1.3rem;

}

form .fas {
    padding: 0 10px 0 15px;
    font-size: 16px;
}

.slide-1 {
    width: 100%;
    height: 100%;
}

.slide-1-title {
    text-align: center;
    font-size: 2.2rem;
    margin: 15px;
    color: #363C74;
    text-shadow:  0 0 20px #E8D3A2, 0 0 20px #E8D3A2, 0 0 20px #E8D3A2;
}

.slide-1-title h3 {
    text-align: center;
}

.slide-2 {
    width: 100%;
    height: 700px;;
    position: relative;
}

.slide-2-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.slide-2-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-2-text {
    font-size: 40px;
}

.grid-container {
    background: #363C74;
    grid-template-columns: 1fr;
    overflow: auto;
    align-self: start;
    height: 1200px;
}

.grid-item {
    height: 50px;
    width: 100%;
    text-align: center;
    background: #E8D3A2;
    font-size: 1.6rem;
    align-self: start;
    margin: 10px 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #363C74;
    height: 180px;
    width: 100%;
    clear: both;
    color: #E8D3A2;
}

.footer-img {
    width: 250px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.fa {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: ghostwhite;
    color:#363C74;
    font-size: 30px;
    text-align: center;
    width: var(--ss-boxsize);
    height: var(--ss-boxsize);
    text-decoration: none;
}