@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

html {
    font-family: 'Encode Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: auto;
    background: ghostwhite;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1.2rem;
}

.nav-link-wrapper {
    background: ghostwhite;
    list-style-type: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    
}

.test {
    display: none;
    width: 100%;
    height: 80px;
    background: red;
}

form {
    border: 1px solid black;
    border-radius: 9px;
    width: 500px;
}

input[type="text"] {
    outline: none;
    border: none;
}

main {
    width: 90%;
    margin: 0 auto;
}

.slide-1-title {
    text-align: center;
}
